{<<"app">>,<<"rebar3_auto">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Rebar3 plugin for auto compiling on changes">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/lol.erl">>,<<"src/rebar3_auto.app.src">>,<<"src/rebar3_auto.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/tsloughter/rebar3_auto">>}]}.
{<<"name">>,<<"rebar3_auto">>}.
{<<"requirements">>,
 [{<<"enotify">>,
   [{<<"app">>,<<"enotify">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>0.1.0">>}]}]}.
{<<"version">>,<<"0.3.3">>}.
